# config/experiments.yaml

global:
  project_name: "TFG_Comparativa_Total_Finanzas"
  
  # --- LISTA DE DATASETS Y SUS PROPIEDADES ---
  # season_length se define aquí porque depende de la frecuencia
  datasets:
    # 1. Renta Variable (S&P 500)
    - name: "SP500_Daily"
      path: "data/SP500_Daily.csv"
      frequency: "D"
      season_length: 5       # Ciclo semanal bursátil (5 días hábiles)
      target_col: "Close"
    
    - name: "SP500_Monthly"
      path: "data/SP500_Monthly.csv"
      frequency: "M"
      season_length: 12      # Ciclo anual
      target_col: "Close"

    # 2. Divisas (EUR/USD)
    - name: "EURUSD_Daily"
      path: "data/EURUSD_Daily.csv"
      frequency: "D"
      season_length: 5       # Mercado Forex (aunque opera 24/5)
      target_col: "Close"
      
    - name: "EURUSD_Monthly"
      path: "data/EURUSD_Monthly.csv"
      frequency: "M"
      season_length: 12
      target_col: "Close"
      
    # 3. Criptoactivos (Bitcoin) - Opera 24/7
    - name: "BTC_Daily"
      path: "data/BTC_Daily.csv"
      frequency: "D"
      season_length: 7       # Cripto no cierra fines de semana
      target_col: "Close"
      
    - name: "BTC_Monthly"
      path: "data/BTC_Monthly.csv"
      frequency: "M"
      season_length: 12
      target_col: "Close"
      
    # 4. Macroeconomía (Inflación)
    - name: "US_CPI_Monthly"
      path: "data/US_CPI_Monthly.csv"
      frequency: "M"
      season_length: 12
      target_col: "Close"
  
  time_col: "Date"
  
  # Parámetros de Backtesting
  input_window_size: 60 
  test_horizon: 1        
  n_windows: 12 
  random_seed: 42

models:
  # --- GRUPO 1: ESTADÍSTICOS CLÁSICOS (StatsForecast) ---
  # Nota: season_length se inyectará dinámicamente desde el código main.py
  
  arima:
    type: "classical"
    model_name: "AutoARIMA"
    # season_length: (Dinámico)

  ses: 
    type: "classical"
    model_name: "SimpleExpSmoothing"
    # No usa estacionalidad

  holt:
    type: "classical"
    model_name: "Holt" 
    # No usa estacionalidad
    
  holt_winters:
    type: "classical"
    model_name: "HoltWinters"
    # season_length: (Dinámico)

  # --- GRUPO 2: DEEP LEARNING / FUNDACIONALES ---

  #timegpt:
  #  type: "foundation"
  #  model_name: "TimeGPT"
  #  finetune_steps: 0    # Zero-shot

  moirai:
    type: "foundation"
    model_name: "Moirai"
    size: "small"
    patch_size: "auto"
    context_length: 60  # Ajustado para coincidir con input_window_size

  chronos:
    type: "foundation"
    model_name: "Chronos"
    model_path: "amazon/chronos-t5-small" 

  # --- GRUPO 3: LARGE LANGUAGE MODEL ---
  
  llama3_local:
    type: "llm_local"
    #model_id: "meta-llama/Llama-3.2-3B-Instruct"
    #quantization_4bit: true
    model_path: "models/Meta-Llama-3.1-8B-Instruct-Q8_0.gguf" 
    context_window_size: 2048 # o 90 que estaba antes, ver a ver como configurarlo adecuadamente
    max_new_tokens: 10